# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example
*.env

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Mypy / Ruff / Cache
# =========================
.mypy_cache/
.ruff_cache/
.cache/

# =========================
# Alembic
# =========================
alembic/versions/__pycache__/

# =========================
# Docker
# =========================
docker-data/
postgres-data/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Frontend / Node.js / npm
# =========================
node_modules/
/dist/
/build/
.eslintcache
.stylelintcache
*.tsbuildinfo
.npm
.yarn/
*.log